# Dependências
node_modules/

# Arquivos de log
logs
*.log
npm-debug.log*

# Arquivos de ambiente
.env

# Arquivos temporários
tmp/
temp/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Pasta de build (se existir)
dist/
build/

# Configurações do editor
.vscode/
.idea/