body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 15px;
}

nav {
    margin: 15px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    background: white;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}